<% if obj.errors.any?  %>
  <div class="row">
    <div class="col-sm-8 offset-1">
      <div class="card card-danger">
        <div class="card-heading">
          <h2 class="card-title">
            <%= pluralize(@novo.errors.count, "error") %>
            prohibited this article from being saved:
          </h2>
          <div class="card-body">
            <ul>
              <% @novo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>   
<% end %>