<!--
<div class="jumbotron ">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up", "#", class: "bg-dark btn btn-primary btn-xlarge " %>

</div>

-->

<div class="jumbotron  center">
  <div class="container">
    <h1 class="display-4">ALPHA BLOG</h1>
    <%= link_to "Sign up", "#", class: "bg-dark btn btn-primary btn-xlarge " %>
  </div>
</div>